<%- include('parts/head', {title: "Dashboard - Meu Posto"}) %>
<link rel="stylesheet" href="/stylesheets/login.css    " />
<link rel="stylesheet" href="/stylesheets/dashboard-usuario.css" />

<header>
  <%- include('parts/navbar') %>
</header>

<main>
  <div class="dashboard-container">
    <%- include('./parts/navbar-usuario') %>

  </div>
</main>

<%- include('parts/foot') %>