<%- include('parts/head', {title: 'Meu Posto'}) %>
<link rel="stylesheet" href="../public/stylesheets/postologado.css" />

<header>
  <%- include('parts/navbar') %>
</header>
<main>
  <div class="container">
    <form class="form-horizontal">
      <div class="title">
        <h2>Olá, Nome do posto</h2>
        <br />
      </div>
      <ul class="ulmenu">
        <li><a href="servicoposto">Alterar meus serviços</a></li>
        <br />
        <li><a href="#">Atualizar cadastro</a></li>
        <br />
        <li><a href="#">Publicidade</a></li>
        <br />
      </ul>
    </form>
  </div>
</main>
<%- include('parts/foot') %>
