<%- include('parts/head', {title: 'Meu Posto'}) %>
<link rel="stylesheet" href="../public/stylesheets/indexStyle.css" />
<link rel="stylesheet" href="../public/stylesheets/servicos.css" />

<header>
  <%- include('parts/navbar') %>
</header>

<body>
  <div class="boxwhite">
    <h2>QUEM SOMOS</h2>
    <br>
    <p>
      Somos uma EMPRESA que busca auxiliar seus usuários a encontrar de forma rápida e precisa, o combustível de melhor procedência e preço da região.
      Além de fornecer informações adicionais para viajantes e usuários que não conheçam a região em que se situam, como serviços adicionais que o Posto de Combustíveis possa oferecer(ex: Borracharia, Lanchonete, Lava Rápidos)
    </p>
    <p>
      O compartilhamento de informações por motoristas cadastrados e postos de combustíveis parceiros são parte fundamental do sistema desenvolvido, portanto, serão criados benefícios adicionais para os usuários do sistema, bem como a Publicidade paga pelos Postos Parceiros interessados. 
    </p>
    <p>
      Esperamos que por se tratar de uma ferramenta construída com base no uso e experiência dos usuários, que possa impactar positivamente nas boas práticas de Postos de Combustíveis brasileiros. Tentando minimizar as vendas de combustíveis adulterados, que impactam não só na economia da região, seja através da sonegação de impostos ou através da liberação de gases tóxicos pela queima desses combustíveis de procedência ruim, como na economia ao longo prazo dos ususários do sistema pela manutenção dos motores de seus automóveis.
    </p>
    <p>
      Agradecemos toda a comunidade de usuários que ao utilizarem esta ferramenta auxiliam no seu desenvolvimento constante.
    </p>
  </div>
</body>

<%- include('parts/foot') %>
