<%- include('parts/head', {title: 'Meu Posto'}) %>
<link rel="stylesheet" href="../public/stylesheets/servicoposto.css" />
<header>
  <%- include('parts/navbar') %>
</header>
<main>
  <div class="container">
    <form class="form-horizontal">
      <div id="title">
        <h2>Quais serviços seu posto oferece?</h2>
      </div>
      <div class="row">
        <div class="form-check col-md-4">
          <Label for="oleo">Troca de Óleo</Label> <br />
          <input
            type="radio"
            name="oleo"
            id="oleosim"
            value="sim"
            class="check"
          /><label for="oleosim">
            Sim
          </label>
          <input
            type="radio"
            name="oleo"
            id="oleonao"
            value="nao"
            class="check"
          /><label for="oleonao">
            Não
          </label>
          <br />
        </div>
        <div class="form-check col-md-4">
          <Label for="lavagem">Lavagem de veículos</Label> <br />
          <input
            type="radio"
            name="lavagem"
            id="lavagemsim"
            value="sim"
            class="check"
          /><label for="lavagemsim">
            Sim
          </label>
          <input
            type="radio"
            name="lavagem"
            id="lavagemnao"
            value="nao"
            class="check"
          /><label for="lavagemnao">
            Não
          </label>
        </div>
        <div class="form-check col-md-4">
          <Label for="conveniencia">Conveniência</Label> <br />
          <input
            type="radio"
            name="conveniencia"
            id="convenienciasim"
            value="sim"
            class="check"
          /><label for="convenienciasim">
            Sim
          </label>
          <input
            type="radio"
            name="conveniencia"
            id="conveniencianao"
            value="nao"
            class="check"
          /><label for="conveniencianao">
            Não
          </label>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="form-check col-md-4">
          <Label for="sanitario">Sanitários</Label> <br />
          <input
            type="radio"
            name="sanitario"
            id="sanitariosim"
            value="sim"
            class="check"
          /><label for="sanitariosim">
            Sim
          </label>
          <input
            type="radio"
            name="sanitario"
            id="sanitarionao"
            value="nao"
            class="check"
          /><label for="sanitarionao"> Não </label><br />
          <input
            type="number"
            name="sanitariovalor"
            placeholder="R$"
            disabled="disabled"
          />
        </div>
        <div class="form-check col-md-4">
          <Label for="loterica">Lotérica</Label> <br />
          <input
            type="radio"
            name="loterica"
            id="lotericasim"
            value="sim"
            class="check"
          /><label for="lotericasim">
            Sim
          </label>
          <input
            type="radio"
            name="loterica"
            id="lotericanao"
            value="nao"
            class="check"
          /><label for="lotericanao">
            Não
          </label>
        </div>
        <div class="form-check col-md-4">
          <Label for="borracharia">Borracharia</Label> <br />
          <input
            type="radio"
            name="borracharia"
            id="borrachariasim"
            value="sim"
            class="check"
          /><label for="borrachariasim">
            Sim
          </label>
          <input
            type="radio"
            name="borracharia"
            id="borracharianao"
            value="nao"
            class="check"
          /><label for="borracharianao">
            Não
          </label>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="form-check col-md-4">
          <Label for="gas">Gás de cozinha</Label> <br />
          <input
            type="radio"
            name="gas"
            id="gassim"
            value="sim"
            class="check"
          /><label for="gassim">
            Sim
          </label>
          <input
            type="radio"
            name="gas"
            id="gasnao"
            value="nao"
            class="check"
          /><label for="gasnao"> Não </label><br />
          <input
            type="number"
            name="gasvalor"
            placeholder="R$"
            disabled="disabled"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1"
            >Descreva seu posto de combustível</label
          >
          <textarea
            placeholder="max.240 caracteres"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            cols="4"
            maxlength="240"
          ></textarea>
        </div>
        <button type="button" class="btn btn-primary" id="btnsalvar">
          Salvar
        </button>
      </div>
      <br />
    </form>
  </div>
</main>
<%- include('parts/foot') %>
