<%- include('parts/head', {title: 'Meu Posto'}) %>
<link rel="stylesheet" href="../public/stylesheets/indexStyle.css" />
<link rel="stylesheet" href="../public/stylesheets/servicos.css" />

<header>
  <%- include('parts/navbar') %>
</header>

<body>
  <div class="boxwhite">

    <form action="#" method="GET" class="form-group">
      <select class="form-control" id="servicos" name="servicos">
        <option value="borracharia">Borracharia</option>
        <option value="conveniencia">Conveniência</option>
        <option value="gasDeCozinha">Gás de Cozinha</option>
        <option value="lavaRapido">Lava Rápido</option>
        <option value="loterica">Lotérica</option>
        <option value="sanitarios">Sanitários</option>
        <option value="trocaDeOleo">Troca de Óleo</option>
      </select>
      <input class="form-control" type="text" id="local" name="local" placeholder="Digite o endereço">
      <input type="submit" value="Buscar" class="busca">
    </form>

    <div class="content">
      <div class="card">
        <div class="logo"></div>
        <div class="nomePosto">Posto Petrobrás</div>
        <div class="endPosto">R. Brigadeiro Galvão, 458, Barra Funda, São Paulo/SP</div>
        <div class="distancia">2 km</div>
        <div></div>
      </div>
    </div>

  </div>
</body>
