<%- include('parts/head', {title: 'Meu Posto'}) %>
    <link rel="stylesheet" href="../public/stylesheets/indexStyle.css" />

    <header>
        <%- include('parts/navbar') %>
    </header>

    <body>
        <div style="height: 500px;">

        </div>
    </body>

    <%- include('parts/foot') %>