<%- include('parts/head', {title: 'Meu Posto'}) %>
<link rel="stylesheet" href="../public/stylesheets/indexStyle.css" />
<link rel="stylesheet" href="../public/stylesheets/servicos.css" />

<header>
  <%- include('parts/navbar') %>
</header>

<body>
  <div class="boxwhite">

    <form action="#" method="GET" class="form-group">
      <select class="form-control" id="servicos" name="servicos">
        <option value="borracharia">Borracharia</option>
        <option value="conveniencia">Conveniência</option>
        <option value="gasDeCozinha">Gás de Cozinha</option>
        <option value="lavaRapido">Lava Rápido</option>
        <option value="loterica">Lotérica</option>
        <option value="sanitarios">Sanitários</option>
        <option value="trocaDeOleo">Troca de Óleo</option>
      </select>
      <input class="form-control" type="text" id="local" name="local" placeholder="Digite o endereço">
      <input type="submit" value="Buscar" class="busca">
    </form>


    <div class="content">
      <div class="card">
          <div class="logo"></div>
          <div class="texto"><h4>Posto Petrobrás</h4><br>
            R. Brigadeiro Galvão, 458, Barra Funda, São Paulo/SP<br>
            <img src="../public/images/star-24px.svg">
            <img src="../public/images/star-24px.svg">
            <img src="../public/images/star-24px.svg">
            <img src="../public/images/star_half-24px.svg">
            <img src="../public/images/star_border-24px.svg">
          </div>
          <div class="distancia"><h5>2 km</h5><br>
            distante<br>
            <hr>
            <h6>R$/L</h6>
            <span class="badge badge-warning">R$ 4,59</span>
          </div>
      </div>

      <div class="card">
          <div class="logo"></div>
          <div class="texto"><h4>Posto Petrobrás</h4><br>
            R. Brigadeiro Galvão, 458, Barra Funda, São Paulo/SP<br>
            <img src="../public/images/star-24px.svg">
            <img src="../public/images/star-24px.svg">
            <img src="../public/images/star-24px.svg">
            <img src="../public/images/star_half-24px.svg">
            <img src="../public/images/star_border-24px.svg">
          </div>
          <div class="distancia"><h5>2 km</h5><br>
            distante<br>
            <h6>R$/L</h6>
            <span class="badge badge-warning">R$ 4,59</span>
          </div>
      </div>

    </div>

  </div>
</body>
