<%- include('parts/head', {title: 'Meu Posto'}) %>
<link rel="stylesheet" href="../public/stylesheets/indexStyle.css" />
<link rel="stylesheet" href="../public/stylesheets/servicos.css" />

<header>
  <%- include('parts/navbar') %>
</header>

<body>
  <div class="boxwhite">

    <form action="#" method="GET">
      <select id="servicos" name="servicos">
        <option value="borracharia">Borracharia</option>
        <option value="conveniencia">Conveniência</option>
        <option value="Gás de Cozinha">Gás de Cozinha</option>
        <option value="lavaRapido">Lava Rápido</option>
        <option value="loterica">Lotérica</option>
        <option value="sanitarios">Sanitários</option>
        <option value="trocaDeOleo">Troca de Óleo</option>
      </select>
      <input type="text" id="local" name="local" placeholder="Digite o endereço">
      <input type="submit" value="Buscar" class="busca">
    </form>

    <div class="content">
      <img src="../public/images/posto01.jpg" height="auto" width="30%">
      <img src="../public/images/posto02.jpg" height="auto" width="30%">
      <img src="../public/images/posto03.jpg" height="auto" width="30%">
      <img src="../public/images/posto04.jpg" height="auto" width="30%">
    </div>

  </div>
</body>
