<%- include('parts/head', {title: 'Meu Posto'}) %>
<link rel="stylesheet" href="../public/stylesheets/indexStyle.css" />
<link rel="stylesheet" href="../public/stylesheets/servicos.css" />

<header>
  <%- include('parts/navbar') %>
</header>

<body>
  <div class="boxwhite">
    <h2>TERMOS E CONDIÇÕES DE USO</h2>
    <br>
    <p>
Ao utilizar o site a EMPRESA considera que, você estará manifestando concordância com estes Termos e Condições.
<br><br>
INFORMAÇÃO
<br><br>
O EMPRESA se esforçará para manter as informações e materiais contidos neste Site tão precisos, atualizados e completos quanto possível. No entanto, não se responsabilizará pela utilização, aplicação ou processamento que os usuários possam dar à mencionada informação. O usuário é inteiramente responsável pela finalidade de uso do dado coletado no Site.
<br><br>
CARACTERÍSTICAS PARA UMA MELHOR NAVEGAÇÃO
<br><br>
Este Site é compatível com os navegadores Chrome, Internet Explorer, Mozilla Firefox, Safari, Opera. Caso houver, desabilite o seu bloqueador de pop-ups. Caso contrário, algumas janelas com informações úteis não poderão ser exibidas.
<br><br>
DO USUÁRIO
<br><br>
O MEU POSTO não tem a responsabilidade de controlar o acesso nem a utilização que os usuários fazem do Site, assim como o acesso aos links nele indicados. Não obstante o disposto, a EMPRESA se reserva o direito de cancelar ou bloquear o acesso de usuários, a qualquer momento e sem prévio aviso, caso seja constatado que este pratique ou venha a praticar algum ato, ou mantenha ou venha a manter conduta que, a critério da EMPRESA (a) viole as leis e regulamentos federais, estaduais e/ou municipais, (b) contrarie estes Termos e Condições de Uso, ou (c) viole os princípios da moral e dos bons costumes. A EMPRESA não se responsabiliza pelos danos e prejuízos de qualquer natureza que possam advir da utilização do Site e dos seus serviços na forma acima descrita. O usuário responderá pelos danos e prejuízos de qualquer natureza que a EMPRESA possa sofrer em consequência do descumprimento de qualquer uma das obrigações a que fica submetido por estes Termos e Condições de Uso.
<br><br>
DIREITOS AUTORAIS E PROPRIEDADE INTELECTUAL
<br><br>
Este Site reproduz textos, fotografias, imagens e som, que se encontram protegidos por direitos autorais ou outros direitos de propriedade intelectual. Estes direitos pertencem a EMPRESA  ou foram outorgados sob licença por seus titulares, de tal forma que a EMPRESA pode utilizar este material como parte deste Site. A reprodução dos conteúdos descritos anteriormente está proibida, salvo prévia autorização por escrito da EMPRESA ou caso se destinem a uso exclusivamente pessoal e sem que em nenhuma circunstância o usuário adquira qualquer direito sobre os mesmos. É permitido fazer somente o arquivo temporário deste Site, sendo vedada sua utilização para finalidades comerciais, publicitárias ou qualquer outra que contrarie a realidade para o qual foi concebido, conforme definido neste documento. Restam igualmente proibidas a reprodução, distribuição e divulgação, total ou parcial, dos textos, figuras, gráficos que compõem o presente Site, sem prévia e expressa autorização da EMPRESA. O usuário assume toda e qualquer responsabilidade, de caráter civil e/ou criminal, pela utilização indevida das informações, textos, gráficos, marcas, obras, enfim, de todo e qualquer direito de propriedade intelectual ou industrial acessado através do Site.
<br><br>
RECLAMAÇÕES E DENÚNCIAS
<br><br>
Se, por qualquer motivo, você entender que algum direito está sendo infringido pelos textos, artigos, notícias, fotografias ou qualquer outra obra reproduzida em nosso Site, pedimos que nos envie uma mensagem detalhada a contato@meuposto.com.br, a fim de que possamos responder-lhe diretamente. Deve conter: (a) dados pessoais: nome, endereço, número de telefone e endereço de correio eletrônico do reclamante; (b) especificação da suposta atividade ilícita ocorrida no Site e, em particular, quando se tratar de suposta violação de direitos autorais, indicação precisa e completa dos conteúdos protegidos e supostamente infringidos; (c) no caso de utilização indevida de criações intelectuais ou qualquer tipo de usurpação de direitos, declaração expressa e clara de que a utilização dos conteúdos foi realizada sem o consentimento do titular dos direitos de propriedade intelectual supostamente infringidos, quando aplicável; e (d) declaração expressa, clara e sob a responsabilidade do reclamante de que a informação proporcionada na notificação é exata e de que a utilização do conteúdo dos arquivos indicados constitui uma violação dos seus direitos de propriedade intelectual, se aplicável.
<br><br>
A eventual retirada de nosso Site, em decorrência de alguma reclamação, de qualquer artigo, notícia, fotografia ou outra obra aqui reproduzida, deverá ser sempre compreendida como uma demonstração de nossa intenção de evitar pendências com relação a este assunto e, jamais, como reconhecimento de qualquer infração nossa a direito de terceiro.
<br><br>
MODIFICAÇÕES DESTES TERMOS E CONDIÇÕES
<br><br>
A EMPRESA se reserva o direito de modificar a qualquer momento, de forma unilateral, os presentes Termos e Condições de Uso. Ao navegar por este Site, você aceita guiar-se pelos Termos e Condições vigentes na data, e, portanto, deve verificá-los previamente cada vez que visitar este Site.
<br><br>
   </p>
   
  </div>
</body>

<%- include('parts/foot') %>
