<%- include('parts/head', {title: 'Meu Posto'}) %>
<link rel="stylesheet" href="../public/stylesheets/indexStyle.css" />
<link rel="stylesheet" href="../public/stylesheets/servicos.css" />

<header>
  <%- include('parts/navbar') %>
</header>

<body>
  <div class="boxwhite">
    <h2>TERMOS DE USO</h2>
    <br>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu felis sit amet dolor pharetra porttitor. In quis risus feugiat, vehicula nisl et, porttitor nulla. Integer scelerisque bibendum lacinia. Vestibulum vel pulvinar ex, eget venenatis felis. Aenean volutpat euismod purus, at dignissim est aliquet in. Aliquam erat volutpat. Donec rutrum, leo at viverra porta, ante augue facilisis magna, in dictum nisi nunc at enim. Cras tincidunt turpis non tortor malesuada tempor. Phasellus mattis tristique nulla sit amet maximus. Aliquam et finibus orci, et egestas massa. Nam mattis eget urna nec pretium.
      <br><br>
      Cras cursus quam vitae imperdiet egestas. Suspendisse egestas eros orci, sed tempor quam tincidunt vitae. Vivamus nec sapien nunc. Cras blandit ante vulputate est consequat, et porttitor arcu sagittis. Quisque fringilla pulvinar magna, a porta augue. Aenean vel sagittis elit. Cras metus ipsum, lacinia eu urna non, viverra pretium risus. Curabitur aliquam nulla sit amet libero maximus aliquam. Suspendisse at rutrum dolor. Curabitur fringilla laoreet neque vel ullamcorper. Curabitur eu turpis non dolor placerat dapibus. Mauris pellentesque elit ac efficitur semper. Nullam placerat, libero in feugiat pulvinar, magna purus rutrum dolor, eget lacinia ex orci quis magna. Nunc non congue enim, vitae euismod turpis. Vivamus pharetra velit in sapien gravida, vel dapibus dolor luctus. Morbi sit amet ultrices turpis.
      <br><br>
      Nullam quis condimentum dui, vel pellentesque dolor. Fusce finibus mauris velit, id consequat urna hendrerit ac. Quisque aliquet risus pulvinar tincidunt vehicula. Suspendisse mollis turpis nec justo convallis consectetur. Donec sapien neque, pretium eget arcu quis, lobortis tempor lacus. Fusce vel odio vitae enim malesuada ullamcorper. Vivamus interdum vestibulum lacinia. Praesent vulputate porttitor vestibulum. Aliquam sit amet purus nunc. Cras ullamcorper sem at erat placerat egestas. Donec nec nibh sit amet dui facilisis dignissim. Nulla ligula lorem, egestas vitae turpis a, sagittis elementum arcu.
    </p>
   
  </div>
</body>

<%- include('parts/foot') %>
