body {
  margin: 0;
  font: 600 16px/18px "Roboto", sans-serif;
  color: #fff;
}

.form-horizontal {
  margin-top: 150px;
  background-color: #fcfcfccc;
  border-radius: 15px;
}

#form-all {
  margin-bottom: 2%;
}

.panel-heading h1 {
  text-align: center;
  margin: 20px 0;
}

.form-check-input {
  margin-left: 10px;
}
.form-check-label {
  margin-left: 35px;
}

button#botao-cadastrar {
  background-color: #eacd65;
  color: #000;
  border: none;
}

#cancelar {
  background-color: #597081;
  color: #ccc;
  border: none;
}

#usuario-tab,
#empresa-tab {
  background-color: #fff;
  color: #000;
}

#usuario-tab:focus,
#empresa-tab:focus {
  background-color: #fff;
  color: black;
  font-weight: bold;
}

.form-horizontal .nav-item {
  width: 50%;
  text-align: center;
}

fieldset {
  background-color: #e14242;
  background-color: #e14242dd;
}

li.nav-item a.active {
  background-color: #e14242 !important;
  background-color: #e14242dd !important;
  color: #fff !important;
  border: none;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link.active {
  border-bottom: #e14242 !important;
}

.nav-tabs .nav-link {
  border: none;
}

.error {
  background-color: #e14242dd !important;
  color: #fff !important;
  font-size: 1.3rem;
}

/* POP TIP MESSAGE  */
#message {
  color: #fff;
  padding: 0 60px;
}

#message h3 {
  color: #fff;
  font-size: 20px;
}
/* Add a green text color and a checkmark when the requirements are right */

.valid {
  color: green;
  background-color: #0f02;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔️";
}

/* Add a red text color and an "x" icon when the requirements are wrong */

.invalid {
  background-color: #f002;
  color: darkred;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "❌";
}
