footer {
  color: white;
  background-color: #597081;
  padding: 2%;
  text-decoration: none;
  font-style: none;
  bottom: 0;
  width: 100%;
}

footer div ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

footer div ul li {
  text-decoration: none;
  padding:1%;
}

footer div ul li a {
  color: white;
  text-decoration: none;
}

footer div ul li a:hover {
  color: white;
  text-decoration: none;
}

