body {
  color: #000d;
  background: none;
}

button {
  border: none;
  transition: all 0.2s;
}
button:hover {
  background-color: #e2945c;
}

.text-img {
  color: #ffffffe6;
  text-align: center;
  padding-top: 20%;
  font-size: 3rem;
  font-weight: bold;
}

.text-imgbot {
  color: #ffffffe6;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

#minimap {
  background-image: url(../images/mapmini.jpg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 2% 0 0 0;
  margin: 2.5% 0 2.5% 0;
}

#textsearch {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

form input[type="search"] {
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 85%;
  text-align: center;
  box-shadow: 0px 3px 3px 0px #0009;
}

#searchbutton {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  justify-content: center;
  background-color: #eacd65;
  border-color: #eacd65;
  border-radius: 10px;
  margin: 10% 20%;
  padding: 5% 5%;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  transition: all 0.2s;
  border: none;
}

#searchbutton:hover {
  background-color: #e2945c;
}

#parallax01 {
  background-image: url(../images/back02.jpg);
  background-attachment: fixed;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax02 {
  background-image: url(../images/back01.jpg);
  background-attachment: fixed;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.active {
  color: #e14242 !important;
}

#frontbutton {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  justify-content: center;
  background-color: #eacd65;
  border-color: #eacd65;
  border-radius: 15px;
  margin: 5% 36%;
  padding: 2% 2%;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

#frontbutton:hover,
#frontbuttondown:hover {
  background-color: #e2945c;
}

#frontbuttondown {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  justify-content: center;
  background-color: #eacd65;
  border-color: #eacd65;
  border-radius: 15px;
  margin: 8% 36%;
  padding: 2% 2%;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  line-height: 30px;
}

.row {
  margin: 10px 0px;
}

#principaltext {
  text-align: justify;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
  line-height: 25px;
}

@media (max-width: 400px) {
  #parallax01 {
    height: 420px;
  }

  #parallax02 {
    height: 360px;
  }

  .text-img {
    padding-top: 40%;
    font-size: 2rem;
  }

  .text-imgbot {
    font-size: 2rem;
  }

  #frontbutton {
    margin: 10% 30%;
    padding: 4% 4%;
    font-size: 1.2rem;
  }

  #frontbuttondown {
    margin: 10% 30%;
    padding: 4% 4%;
    font-size: 1.2rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  @media (min-width: 401px) and (max-width: 800px) {
  }
}
