@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
a {
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #e14242;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.modal.show .modal-dialog {
  z-index: 1060;
}

.modal-backdrop {
  z-index: unset;
  position: unset;
}
.marker {
  background-image: url("/images/icone-semfundo.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#logo {
  width: 60px;
  height: 60px;
}

#map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

a#entrar:hover,
a#dashboard:hover,
a#home:hover {
  background-color: #e4704e;
}

.likes a > .fa-heart {
  color: #e14242;
}

a:hover > .fa-comment,
i.fa-comment + span:hover,
a:hover > .fa-heart {
  color: #e14242;
  text-decoration: none;
}

/* modal style */

.modal-transparent {
  background-color: unset !important;
  border: none;
}

.star {
  background: none;
  border: none;
  font-size: 1.5em;
  padding: 0 0.15em;
}

.star.selected {
  color: #e8a500;
  text-shadow: 0px 1px 0px #8f8f01;
}

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* Style the search field */

#form-container {
  width: 4vw;
  position: fixed;
  top: 10px;
  left: 20px;
  font-size: 1.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  z-index: 1;
  max-width: 35px;
}

.btn-posto {
  width: 35% !important;
  background-color: #e14242;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 1px #0009;
  font-weight: bold;
  padding: 6px;
  position: absolute;
  bottom: 29px;
  right: 28px;
  color: white;
}

.btn-novo-posto {
  position: unset;
}

.btn-secondary {
  width: 35%;
  border-radius: 20px;
  box-shadow: 0px 2px 5px 1px #0009;
  font-weight: bold;
}

.modal-footer {
  justify-content: flex-start;
}

/* dashboard button */

#dashboard {
  z-index: 2;
  position: fixed;
  right: 20px;
  top: 20px;
  border-radius: 50px;
  background-color: #e14242;
  color: #fff;
  border: none;
  padding: 5px 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 23px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
/* sign up button */

#entrar {
  z-index: 2;
  position: fixed;
  right: 20px;
  top: 20px;
  border-radius: 50px;
  background-color: #e14242;
  color: #fff;
  border: none;
  padding: 5px 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 23px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

/* home button */

#home {
  z-index: 2;
  position: fixed;
  top: 15px;
  right: 185px;
  border-radius: 50px;
  background-color: #e14242;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  line-height: 23px;
  color: #fff;
}

.mapboxgl-ctrl-top-left {
  top: 7px;
  left: 80px;
  width: 40%;
  border-radius: 20px;
}

.mapboxgl-ctrl-geocoder {
  border-radius: 20px;
}

.mapboxgl-ctrl-geocoder--input {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  text-align: end;
  border-radius: 20px;
}

form.example input[type="text"] {
  padding: 10px;
  float: left;
  width: 60%;
  color: #597081;
  background-color: #ffffffee;
  border: none;
  font-size: 100%;
}
/* Style the submit button */

#bars {
  background-color: hsla(0, 0%, 100%, 0.933);
  border-radius: 20px;
  color: #597081;
  border: none;
  width: 100%;
  font-size: 100%;
}

div.btn-sidebar button {
  float: left;
  width: 20%;
  padding: 10px 5px;
  background-color: #ffffffee;
  color: #597081;
  font-size: 100%;
  border: none;
  /* Prevent double borders */
  cursor: pointer;
  border-radius: 0px 20px 20px 0px;
  z-index: 2;
}

div.btn-sidebar button:hover {
  background: #e14242;
}
/* Clear floats */
/* form.example::after {
        content: "";
        clear: both;
        display: table;
    } */

aside {
  font: 400 16px/18px "Roboto", sans-serif;
  display: none;
  z-index: 2;
  position: fixed;
  top: 60px;
  background-color: #e4714ecc;
  border-radius: 0 10px 10px 0;
  border: #0e0e0e solid 1px;
  height: 100%;
  width: 40%;
  overflow: auto;
}

.scroller {
  scrollbar-width: 0;
}

::-webkit-scrollbar {
  width: 0;
}

ol.posto {
  padding: 5px;
  margin: auto;
  color: #0e0e0e;
}

li {
  list-style: none;
  margin: 15px auto;
}

.container {
  width: 95%;
  height: 100%;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 5px 15px;
}

.grey {
  background-color: #e0e0e0;
}

.white {
  background-color: #fcfcfc;
}

.part1 {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.circle {
  position: relative;
  width: 98px;
  height: 98px;
}

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img img {
  width: calc(65px - 20px);
}

.logoComEndereco {
  display: flex;
  align-items: center;
  margin: auto 0;
}

.nomeComEndereço {
  margin-left: 10px;
  width: 100%;
}

.nomeComEndereço a {
  color: #e8a500;
  text-shadow: 0px 1px 0px #8f8f01;
}

.nomeComEndereço a:hover {
  color: #e8a500;
  text-shadow: 0px 1px 0px #8f8f01;
  opacity: 0.7;
}

.part2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20%;
  margin: 7px 15px;
}

p {
  margin: 4px 0;
}

.distanceNumber {
  color: #e4704e;
  font-size: 2.5rem;
  font-weight: bold;
}

.distanceText {
  color: #e4704e;
  font-size: 1rem;
}

hr.vertical {
  height: 90%;
  margin: auto;
  color: #e0e0e066;
  border-top-style: solid;
  border-top-width: 10vh;
  border-bottom-style: solid;
  border-bottom-width: 10vh;
}

hr.horizontal {
  width: 90%;
  margin: auto;
  color: #e0e0e066;
}

p.date {
  font-size: 1rem;
  font-weight: 600;
}

.priceDetails {
  width: auto;
}

a.price {
  border-radius: 10px;
  color: #f7f7f7;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 5px;
  padding: 1px 6px;
  line-height: 30px;
  margin: 5px auto;
  width: 100%;
}

a.price:hover {
  color: #fff;
  opacity: 0.8;
  background: linear-gradient(180deg, #597081 0%, #59708199 100%);
}

.high {
  background-color: #e14242;
  background: linear-gradient(180deg, #e14242 50%, #e46f4e 100%);
}

.low {
  background: linear-gradient(180deg, #42e16fe6 50%, #00760ce6 100%);
}

.med {
  background: linear-gradient(180deg, #ff4400de 50%, #ff7600b5 100%);
}

div.symbol {
  display: flex;
  justify-content: space-around;
}

/* map */

#map {
  z-index: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 1070px) {
  aside {
    width: 100%;
    background-color: #e4714e;
  }
  #form-container {
    position: absolute;
    width: 50vw;
  }
  #entrar {
    background-color: #e14242;
  }
  a.price {
    font-size: 1.3rem;
    font-weight: 900;
  }
  .mapboxgl-ctrl-top-left {
    width: 50%;
  }
}

@media (max-width: 600px) {
  #entrar,
  #dashboard {
    bottom: 20px;
    left: 20px;
    top: unset;
    right: unset;
  }

  #home {
    bottom: 15px;
    left: 150px;
    top: unset;
    right: unset;
  }

  .mapboxgl-ctrl-top-left {
    width: 85%;
  }
}

@media (max-width: 430px) {
  a.price {
    font-size: 0.75rem;
  }

  small {
    font-size: 70%;
  }

  .circle {
    margin-left: unset;
  }

  p {
    font-size: 12px;
  }

  p.date {
    font-size: 70%;
  }

  .distanceNumber {
    font-size: 2rem;
  }

  .distanceText {
    font-size: 0.9rem;
  }

  div.symbol {
    font-size: 70%;
  }

  .part2 {
    line-height: 16px;
  }
}
