body {
  margin: 0;

  background: url(../images/backLogin.jpg) no-repeat center;
  font: 600 16px/18px 'Roboto', sans-serif;
}

.form-horizontal {
  margin-top: 150px;
  background-color: #fcfcfccc;
  border-radius: 15px;
  margin-bottom: 100px;
  padding-left: 10px;
  padding-top: 10px;
}

#title {
  display: flex;
  align-self: center;
}

h2 {
  align-items: center;
}

.ulmenu {
  display: flex;
  flex-direction: column;
}

ul li {
  align-self: center;
}
