<div class="container-fluid" id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img src="/images/icone-semfundo.png" class="logonavbar" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Página Inicial<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main">Encontre o melhor posto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/servicos">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro">Seja um Posto Parceiro</a>
                </li>
            </ul>

            <!--        
            <form id="logado" class="form-inline my-2 my-lg-0" style="display: flex;">
                <a class="nav-link" id="logar" href="/login">
                    <i class="far fa-user"></i>
                </a>
                <a id="sair" href="/sair">Sair</a>
            </form>
        -->

            <form id="naoLogado" class="form-inline my-2 my-lg-0" style="display: flex;">
                <a class="nav-link" id="logar" href="/login">
                    <i class="far fa-user"></i> Entrar
                </a>
                <a id="cadastrar" href="/cadastro">Cadastrar</a>
                <a href="/usuario/logout" class="text-danger d-inline-block">
                    <i class="fas fa-sign-out-alt text-danger"></i>
                </a>
            </form>

        </div>
    </nav>
</div>