<nav class="nav-dashboard">
    <div class="menu">
        <ul>
            <button class="btn btn-secondary btn-sm btn-block" onclick="location.href='/usuario/dashboard/cadastro'">
                <li>
                    Atualizar Cadastro
            </button>
            </li>
            <li>
                <button class="btn btn-secondary btn-sm btn-block"
                    onclick="location.href='/usuario/dashboard/favoritos'">
                    Postos Favoritos
                </button>
            </li>
            <li>
                <button class="btn btn-secondary btn-sm btn-block"
                    onclick="location.href='/usuario/dashboard/avaliacoes'">
                    Minhas Avaliações
                </button>
            </li>
        </ul>
    </div>
</nav>