<nav class="nav-dashboard">
    <div class="menu">
        <ul>
            <li>
                <button class="btn btn-secondary btn-sm btn-block"
                    onclick="location.href='/usuario/dashboard/cadastro'">
                    <i class="fas fa-cogs"></i>
                    <p> Atualizar Cadastro</p>
                </button>
            </li>
            <li>
                <button class="btn btn-secondary btn-sm btn-block"
                    onclick="location.href='/usuario/dashboard/favoritos'">
                    <i class="fas fa-heart"></i><br>
                    <p>Postos Favoritos</p>
                </button>
            </li>
            <li>
                <button class="btn btn-secondary btn-sm btn-block"
                    onclick="location.href='/usuario/dashboard/avaliacoes'">
                    <i class="fas fa-comments"></i><br>
                    <p>Minhas Avaliações</p>
                </button>
            </li>
        </ul>
    </div>
</nav>