<!-- Modal login-->
<div class="modal fade bg-transparent" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-transparent">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <%- include("./login") %>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><img src="/images/icone-semfundo.png" class="logonavbar" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Página Inicial<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/main">Mapa ao vivo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/servicos">Serviços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro">Postos Parceiros</a>
                </li>
            </ul>

            <% if (POSTO) { %>

            <form id="logado" class="form-inline my-2 my-lg-0" style="display: flex;">
                <a class="nav-link mr-3" id="logarPosto" href="/posto/dashboard">
                    <i class="fas fa-gas-pump"></i>
                    <%= POSTO.nome_proprietario %>
                </a>
                <a href="/posto/logout" class="text-danger d-inline-block">
                    <i class="fas fa-sign-out-alt text-danger"></i>
                </a>
            </form>

            <% } else if (USUARIO) { %>

            <form id="logado" class="form-inline my-2 my-lg-0" style="display: flex;">
                <a class="nav-link mr-3" id="logar" href="/usuario/dashboard">
                    <i class="far fa-user"></i>
                    <%= USUARIO.nome %>
                </a>
                <a href="/usuario/logout" class="text-danger d-inline-block">
                    <i class="fas fa-sign-out-alt text-danger"></i>
                </a>
            </form>

            <% } else { %>


            <form id="naoLogado" class="form-inline my-2 my-lg-0" style="display: flex;">
                <a type="button" id="logar" class="btn nav-link" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="far fa-user"></i>
                    Entrar
                </a>
                <a id="cadastrar" href="/cadastro">Cadastrar</a>

            </form>
            <% } %>
        </div>
    </nav>
</div>